[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
apscheduler = "==3.7.0"
datature = "==1.0.1"
dirhash = "==0.2.1"
flask = "==2.0.0"
flask-cors = "==3.0.10"
flask-restful = "==0.3.9"
flask-socketio = "==5.1.0"
jsonpickle = "==2.0.0"
numpy = "==1.21.6"
onnx = "==1.12.0"
onnx2torch = "==1.5.6"
onnxruntime = "==1.14.1"
opencv-python = "==4.6.0.66"
pillow = "==8.2.0"
scandir = "==1.10.0"
scantree = "==0.0.1"
shapely = "==2.0.1"
tensorflow = "==2.10.0"
torch = "==1.12.1"
torchvision = "==0.13.1"
werkzeug = "==2.0.0"

[dev-packages]
isort = "*"
pylint = "*"

[requires]
python_version = "3.7"
