[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-restful = "==0.3.9"
flask = "==2.0.0"
flask-cors = "==3.0.10"
flask-socketio = "==5.1.0"
numpy = "==1.18.5"
tensorflow = "==2.3.0"
opencv-python = "==4.5.1.48"
jsonpickle = "==2.0.0"
dirhash = "==0.2.1"
scandir = "==1.10.0"
apscheduler = "==3.7.0"
datature-hub = "==0.2.0"
pillow = "==8.2.0"
shapely = "==1.7.1"

[dev-packages]
pylint = "*"
isort = "*"

[requires]
