body {
  min-width: 600px;
  overflow: hidden;
  background-color: #f8fafb;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

.profile-badge {
  -webkit-background-size: 32px 32px;
  background-size: 32px 32px;
  border: 0;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: block;
  margin-top: 3px;
  position: relative;
  height: 24px;
  width: 24px;
  z-index: 0;
  cursor: pointer;
}

.NexusLogo {
  -webkit-filter: invert(68%); /* safari 6.0 - 9.0 */
  filter: invert(68%);
}

:focus:not(button, input) {
  outline: none !important;
}
